# List of all packages used by Moonlight.
absl-py
apache_beam
backports.tempfile
enum34
# TODO(ringw): librosa > 0.4.0 currently can't be installed due to a bad
# dependency in numba.
librosa<=0.4.0
lxml
Mako
numpy>=1.14.2
pandas
Pillow
protobuf
scipy
tensorflow>=1.6.0
